/* h1{
    color:rgba(128, 216, 45, 0.63);
}

h2{
    color:brown;
    background-color: rgb(230, 203, 98);
}
body{
    background-color: cornflowerblue;
}

div{
    background-color:chartreuse;
    border-color: orange;
    border-width: 10px;
    border-style:dashed;
}

span{
    background-color: red;
} */
/* 
.myclass{
    color:red;
}

#one{
    color:blue;
}

#two{
    color:green;
} */
/* 
body{
    font-family: Arial;
    font-size: 100%;
}
p{
    font-size: 3em;
} */
/* 
h1{
    text-align: center;
    font-size: 40px;
}

p{
    font-size: 20px;
} */
/* 
#up{
    text-align:center;
    border: 10px solid blue;
    margin-bottom: 100px;
    margin-left: 100px;
}

#down{
    text-align:center;
    border: 10px solid red;
    padding-top:10px;
} */
